@{
    ViewBag.Title = "Senparc.Weixin SDK 插件";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderContent
{
    <style>
        .description {
            padding: 30px;
        }

            .description h1 {
                font-size: 200%;
                font-weight:bold;
            }

            .description p {
                line-height: 150%;
                margin: 20px 0px;
            }
    </style>
    <script>

    </script>
}
<div class="wrapper">
    <div class="description">
        <h1>@ViewBag.Title</h1>
        <p>
            插件集合：<a href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/Plugins" target="_blank">https://github.com/JeffreySu/WeiXinMPSDK/tree/master/Plugins</a>
        </p>
    </div>

</div>
<div class="clear"></div>
