{
  "version": "0.0.1",
  "name": "NeuChar",
  "guid": "9F88AF01CC084F658DDD31F022B18053",
  "key": "",
  "Configs": [
    {
      "Version": "0.0.1",
      "Name": "MessageHandlerNode",
      "Config": {
        "MessagePair": [
          {
            "Request": {
              "Type": 0,
              "Keywords": [
                "nc",
                "neuchar"
              ]
            },
            "Response": {
              "Type": 0,
              "Content": "这条消息来自NeuChar\r\n\r\n当前时间：{now}"
            }
          },
          {
            "Request": {
              "Type": 0,
              "Keywords": [
                "senparc",
                "s"
              ]
            },
            "Response": {
              "Type": 0,
              "Content": "这条消息同样来自NeuChar\r\n\r\n当前时间：{now}"
            }
          },
          {
            "Request": {
              "Type": 0,
              "Keywords": [
                "吃饭",
                "c"
              ]
            },
            "Response": {
              "Type": 0,
              "Content": "明天~~NeuChar\r\n换行啦\r\n当前时间：{now}"
            }
          },
          {
            "Request": {
              "Type": 0,
              "Keywords": [
                "img",
                "i"
              ]
            },
            "Response": {
              "Type": 3,
              "Content": "{current_img}"
            },
            "ExtendResponses": [
              {
                "Type": 0,
                "Content": "您刚才发送了一张图片"
              }
            ]
          }
        ]
      }
    }
  ]
}