@{
    ViewBag.Title = "微信SDK,微信公众平台,小程序SDK - Senparc.Weixin SDK - 公众号 企业号 开放平台 盛派微信号";
}
@section scripts
{
<script>
    $(function () {
        $(".test table td:not(:empty)").hover(function () {
            $(this).addClass('currentTestItem');
        },
            function () {
                $(this).removeClass('currentTestItem');
            });

        $('#showTest').click(function () {
            $(this).fadeOut(function () { $('#testTip').slideDown(); });
        });
    });
</script>
}
<div class="wrapper">
    <div class="weixin-bottom">
        <p class="weixin-item-title">
            目前 Senparc.Weixin SDK 已支持微信 6.x API 中所有接口以及<strong>小程序</strong>
        </p>

        <div class="weixin-bottom-buttons">
            <p class="weixin-item-button">
                <a href="https://book.weixin.senparc.com/book/link?code=sdk-homepage" class="application" target="_blank">购买正版 Senparc 官方教程</a>
                &nbsp; &nbsp;
                <a href="https://book.weixin.senparc.com/book/videolinknetease?code=sdk-home-top-button" class="application" target="_blank">观看官方视频教程</a>
                &nbsp; &nbsp; &nbsp;

                <a href="/Home/Book" class="application" target="_blank">官方教程配套阅读系统</a>
                &nbsp; &nbsp; &nbsp;

            </p>
            <p class="weixin-item-button" style="padding-top:10px;">

                <a href="https://sdk.weixin.senparc.com@(Url.Action(" Index", "Document" ))" class="application" target="_blank">下载 SDK 帮助文档</a>
                &nbsp; &nbsp; &nbsp;

                <a href="https://github.com/JeffreySu/WeiXinMPSDK" class="application" target="_blank">GitHub 源码</a>
                &nbsp; &nbsp; &nbsp;

                @*
                </p>
                <p class="weixin-item-button">
                *@
                <a href="http://mp.weixin.qq.com/wiki/index.php?title=%E6%B6%88%E6%81%AF%E6%8E%A5%E5%8F%A3%E6%8C%87%E5%8D%97" class="application" target="_blank">微信官方API</a>
            </p>
        </div>
        <div class="clear"></div>
        <p class="weixin-item-title">

            <a href="https://github.com/JeffreySu/WeiXinMPSDK" target="_blank"><img src="https://img.shields.io/github/watchers/JeffreySu/WeixinMPSDK.svg?style=social&label=Watch" /></a>


            <a href="https://github.com/JeffreySu/WeiXinMPSDK" target="_blank"><img src="https://img.shields.io/github/stars/JeffreySu/WeixinMPSDK.svg?style=social&label=Star" /></a>


            <a href="https://github.com/JeffreySu/WeiXinMPSDK" target="_blank"><img src="https://img.shields.io/github/forks/JeffreySu/WeixinMPSDK.svg?style=social&label=Fork" /></a>


            <a href="https://github.com/JeffreySu/WeiXinMPSDK" target="_blank"><img src="https://img.shields.io/github/followers/JeffreySu.svg?style=social&logo=github&label=Follow" /></a>
        </p>


        <div class="weixin-bottom-table" id="nuget-versions">
            <table class="tbVersion">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>功能模块</th>
                        <th>Nuget 文件名</th>
                        <th>Nuget 版本</th>
                        <th>当前站点运行版本</th>
                        <th>.NET 3.5</th>
                        <th>.NET 4.0</th>
                        <th>.NET 4.5</th>
                        @*
                        <th>.NET 4.6.1</th>*@
                        <th>.NET Core 2.0</th>
                        <th>.NET Core 2.1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>CO2NET<br />公共基础库</td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.CO2NET" target="_blank">
                                Senparc.CO2NET.dll
                            </a>
                        </td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.CO2NET" target="_blank">
                                <img src="https://img.shields.io/nuget/v/Senparc.CO2NET.svg?style=flat" />
                            </a>
                        </td>
                        <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["CO2NETVersion"])</a></td>
                        <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                        @*
                        <td><img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" /></td>*@
                        <td><img title=".NET Core 2.0" alt=".NET Core" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core 2.1" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.1-Y-brightgreen.svg" /></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>SDK 公共基础库</td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin" target="_blank">
                                Senparc.Weixin.dll
                            </a>
                        </td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin" target="_blank">
                                <img src="https://img.shields.io/nuget/v/Senparc.Weixin.svg?style=flat" />
                            </a>
                        </td>
                        <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["WeixinVersion"])</a></td>
                        <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                        @*
                        <td><img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" /></td>*@
                        <td><img title=".NET Core 2.0" alt=".NET Core" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core 2.1" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.1-Y-brightgreen.svg" /></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>微信支付  <span style="color:red">new</span></td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.TenPay" target="_blank">
                                Senparc.Weixin.TenPay.dll
                            </a>
                        </td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.TenPay" target="_blank">
                                <img src="https://img.shields.io/nuget/v/Senparc.Weixin.TenPay.svg?style=flat" />
                            </a>
                        </td>
                        <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["TenPayVersion"])</a></td>
                        <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                        @*
                        <td><img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" /></td>*@
                        <td><img title=".NET Core 2.0" alt=".NET Core" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core 2.1" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.1-Y-brightgreen.svg" /></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>公众号<br />JSSDK<br />摇一摇周边</td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP" target="_blank">
                                Senparc.Weixin.MP.dll
                            </a>
                        </td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP" target="_blank">
                                <img src="https://img.shields.io/nuget/v/Senparc.Weixin.MP.svg?style=flat" />
                            </a>
                        </td>
                        <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["MpVersion"])</a></td>
                        <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                        @*
                        <td><img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" /></td>*@
                        <td><img title=".NET Core 2.0" alt=".NET Core" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core 2.1" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.1-Y-brightgreen.svg" /></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>小程序 <span style="color:red">HOT</span></td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.WxOpen" target="_blank">
                                Senparc.Weixin.WxOpen.dll
                            </a>
                        </td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.WxOpen" target="_blank">
                                <img src="https://img.shields.io/nuget/v/Senparc.Weixin.WxOpen.svg?style=flat" />
                            </a>
                        </td>
                        <td><a class="sdk-version" href="https://github.com/JeffreySu/WxOpen/" target="_blank">v@(TempData["WxOpenVersion"])</a></td>
                        <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-N-lightgrey.svg" /></td>
                        <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                        @*
                        <td><img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" /></td>*@
                        <td><img title=".NET Core 2.0" alt=".NET Core" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core 2.1" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.1-Y-brightgreen.svg" /></td>
                    </tr>

                    <tr>
                        <td>6</td>
                        <td>开放平台 SDK</td>
                        <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Open" target="_blank">Senparc.Weixin.Open.dll</a></td>
                        <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Open" target="_blank"><img src="https://img.shields.io/nuget/v/Senparc.Weixin.Open.svg?style=flat" /></a></td>
                        <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["OpenVersion"])</a></td>
                        <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                        @*
                        <td><img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" /></td>*@
                        <td><img title=".NET Core 2.0" alt=".NET Core" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core 2.1" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.1-Y-brightgreen.svg" /></td>
                    </tr>
                    @*
                    <tr>
                        <td>4</td>
                        <td>企业号 SDK</td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.QY" target="_blank">
                                Senparc.Weixin.QY.dll
                            </a>
                        </td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.QY" target="_blank">
                                <img src="https://img.shields.io/nuget/v/Senparc.Weixin.QY.svg?style=flat" />
                            </a>
                        </td>
                        <td>停止更新</td>
                        <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core" alt=".NET Core" src="https://img.shields.io/badge/core-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core 2.0" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                    </tr>*@

                    <tr>
                        <td>7</td>
                        <td>企业微信 SDK</td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Work" target="_blank">
                                Senparc.Weixin.Work.dll
                            </a>
                        </td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Work" target="_blank">
                                <img src="https://img.shields.io/nuget/v/Senparc.Weixin.Work.svg?style=flat" />
                            </a>
                        </td>
                        <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["WorkVersion"])</a></td>
                        <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                        @*
                        <td><img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" /></td>*@
                        <td><img title=".NET Core 2.0" alt=".NET Core" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core 2.1" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.1-Y-brightgreen.svg" /></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>MVC 扩展插件</td>
                        <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP.MVC" target="_blank">Senparc.Weixin.MP.MvcExtentsion.dll</a></td>
                        <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP.MVC" target="_blank"><img src="https://img.shields.io/nuget/v/Senparc.Weixin.MP.Mvc.svg?style=flat" /></a></td>
                        <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["ExtensionVersion"])</a></td>
                        <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-N-lightgrey.svg" /></td>
                        <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-Y-brightgreen.svg" /></td>
                        <td>
                            <img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" />@*<br />
                            <img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" />*@
                        </td>
                        @*
                        <td><img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" /></td>*@
                        <td><img title=".NET Core 2.0" alt=".NET Core" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core 2.1" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.1-Y-brightgreen.svg" /></td>
                    </tr>
                    <!--
                <tr>
                    <td>6</td>
                    <td>Core MVC 扩展插件</td>
                    <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP.MVC" target="_blank">Senparc.Weixin.MP.CoreMvcExtentsion.dll</a></td>
                    <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP.MVC" target="_blank"><img src="https://img.shields.io/nuget/v/Senparc.Weixin.MP.CoreMvc.svg?style=flat" /></a></td>
                    <td>@*<a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["ExtensionVersion"])</a>*@未部署</td>
                    <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0----lightgrey.svg" /></td>
                    <td>
                        <img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5----lightgrey.svg" /><br />
                        <img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" />
                    </td>
                    @*<td><img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" /></td>*@
                    <td>
                        <img title=".NET Core" alt=".NET Core" src="https://img.shields.io/badge/core-Y-brightgreen.svg" />
                    </td>
                    <td><img title=".NET Core 2.0" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                </tr>
                    -->
                    <tr>
                        <td>9</td>
                        <td>Redis 缓存</td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Cache.Redis" target="_blank">
                                Senparc.Weixin.Cache.Redis.dll
                            </a>
                        </td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Cache.Redis" target="_blank">
                                <img src="https://img.shields.io/nuget/v/Senparc.Weixin.Cache.Redis.svg?style=flat" />
                            </a>
                        </td>
                        <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["RedisCacheVersion"])</a></td>
                        <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-N-lightgrey.svg" /></td>
                        <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-N-lightgrey.svg" /></td>
                        <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                        @*
                        <td><img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" /></td>*@
                        <td><img title=".NET Core 2.0" alt=".NET Core" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core 2.1" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.1-Y-brightgreen.svg" /></td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>Memcached 缓存</td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Cache.Memcached" target="_blank">
                                Senparc.Weixin.Cache.Memcached.dll
                            </a>
                        </td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Cache.Memcached" target="_blank">
                                <img src="https://img.shields.io/nuget/v/Senparc.Weixin.Cache.Memcached.svg?style=flat" />
                            </a>
                        </td>
                        <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["MemcachedCacheVersion"])</a></td>
                        <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-N-lightgrey.svg" /></td>
                        <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-N-lightgrey.svg" /></td>
                        <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                        @*
                        <td><img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" /></td>*@
                        <td><img title=".NET Core 2.0" alt=".NET Core" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core 2.1" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.1-Y-brightgreen.svg" /></td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>WebSocket 模块</td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.WebSocket" target="_blank">
                                Senparc.WebSocket.dll
                            </a>
                        </td>
                        <td>
                            <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.WebSocket" target="_blank">
                                <img src="https://img.shields.io/nuget/v/Senparc.WebSocket.svg?style=flat" />
                            </a>
                        </td>
                        <td><a class="sdk-version" href="https://github.com/JeffreySu/Senparc.WebSocket/" target="_blank">v@(TempData["WebSocketVersion"])</a></td>
                        <td><img title=".NET 3.5" alt=".NET 3.5" src="https://img.shields.io/badge/3.5-N-lightgrey.svg" /></td>
                        <td><img title=".NET 4.0" alt=".NET 4.0" src="https://img.shields.io/badge/4.0-N-lightgrey.svg" /></td>
                        <td><img title=".NET 4.5" alt=".NET 4.5" src="https://img.shields.io/badge/4.5-Y-brightgreen.svg" /></td>
                        @*
                        <td><img title=".NET 4.6.1" alt=".NET 4.6.1" src="https://img.shields.io/badge/4.6.1-Y-brightgreen.svg" /></td>*@
                        <td><img title=".NET Core 2.0" alt=".NET Core" src="https://img.shields.io/badge/core2.0-Y-brightgreen.svg" /></td>
                        <td><img title=".NET Core 2.1" alt=".NET Core 2.0" src="https://img.shields.io/badge/core2.1-Y-brightgreen.svg" /></td>
                    </tr>
            </table>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content-weixin">
        <p class="weixin-item-title">关注官方微信 进行互动测试</p>

        <div class="weixin-item weixin-item-bs weixin-item-left">
            <img class="official-img" src="/images/v2/ewm_01.png" alt="微信SDK公众号" />
        </div>

        <div class="weixin-item weixin-item-bs weixin-item-left">
            <img class="official-img" src="/images/SenparcRobot_MiniProgram.jpg" alt="微信SDK小程序" />
        </div>

        @*<div class="clear"></div>*@
        <div class="weixin-item  readmore">
            <table class="tbVersion tbVersion_bootstrap">
                <tr>
                    <td>运行中的缓存框架：@TempData["CacheStrategy"]</td>
                    <td>@Html.ActionLink("测试", "Test", "Cache", null, new { @class = "sdk-version" })</td>
                </tr>
                <tr>
                    <td>最新文档版本（MP）：v@(TempData["NewestDocumentVersion"])</td>
                    <td>@Html.ActionLink("下载", "Index", "Document", null, new { @class = "sdk-version" })</td>
                </tr>
                <tr>
                    <td>GitHub 源码：<img src="https://travis-ci.org/JeffreySu/WeiXinMPSDK.svg?branch=master"></td>
                    <td>
                        <a href="https://github.com/JeffreySu/WeiXinMPSDK" class="sdk-version" target="_blank">
                            查看
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>小程序：<img src="https://travis-ci.org/JeffreySu/WxOpen.svg?branch=master"></td>
                    <td>
                        <a href="https://github.com/JeffreySu/WxOpen" class="sdk-version" target="_blank">
                            查看
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>WebSocket：<img src="https://travis-ci.org/JeffreySu/WebSocket.svg?branch=master"></td>
                    <td>
                        <a href="https://github.com/JeffreySu/Senparc.WebSocket" class="sdk-version" target="_blank">
                            查看
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="line"></div>

    <div id="showTest">
        ⇩ 展开公众号测试说明 ⇩
    </div>

    <div class="test test_bs" id="testTip">
        <table>
            <tr>
                <td>
                    <div class="test-item">
                        <img src="/images/v2/icon_01.png" />
                        <p class="item-title">文本测试</p>
                        <p class="item-content">随意输入文本信息，系统将自动回复一条包含原文的文本信息。如果连续发送多条信息，系统会自动记录通讯的下文，直到超过规定时间记录自动清空。</p>
                    </div>
                </td>
                <td>
                    <div class="test-item">
                        <img src="/images/v2/icon_02.png" />
                        <p class="item-title">位置测试</p>
                        <p class="item-content">发送一条位置信息，系统将自动回复详细的位置信息图片数据及一条图文链接。</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="test-item">
                        <img src="/images/v2/icon_03.png" />
                        <p class="item-title">图片测试</p>
                        <p class="item-content">发送一张图片，系统将自动回复一条带链接的图文信息。</p>
                    </div>
                </td>
                <td>
                    <div class="test-item">
                        <img src="/images/v2/icon_04.png" />
                        <p class="item-title">语音测试</p>
                        <p class="item-content">发送一条语音信息，系统将自动回复一条音乐格式信息。</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="test-item">
                        <img src="/images/v2/icon_05.png" />
                        <p class="item-title">视频测试</p>
                        <p class="item-content">发送一条视频信息，系统将自动回复一条带有视频ID的信息。</p>
                    </div>
                </td>
                <td>
                    <div class="test-item">
                        <img src="/images/v2/icon_06.png" />
                        <p class="item-title">订阅测试</p>
                        <p class="item-content">订阅（关注）账号的第一时间，系统将发送一条欢迎信息（等同于之前的Hello2BizUser）</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="test-item">
                        <img src="/images/v2/icon_07.png" />
                        <p class="item-title">客服端约束测试</p>
                        <p class="item-content">发送文字信息【约束】，进行测试。</p>
                    </div>
                </td>
                <td>
                    <div class="test-item">
                        <img src="/images/v2/icon_08.png" />
                        <p class="item-title">自定义菜单测试</p>
                        <p class="item-content">点击自定菜单进行测试</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="test-item">
                        <img src="/images/v2/icon_09.png" />
                        <p class="item-title">代理+托管测试</p>
                        <p class="item-content">1.发送文字信息【代理】或【托管】，或点击菜单【功能体验】【托管】，服务器将从其他微信平台获取“代理”或“托管”文字请求的结果。2.点击菜单【功能体验】>【会员消息】，查看自己的会员信息（来自另外一台 WeiWeiHi 服务器的微信会员系统）</p>
                    </div>
                </td>
                <td>
                    <div class="test-item">
                        <img src="/images/v2/icon_12.png" />
                        <p class="item-title">微信支付测试</p>
                        <p class="item-content">点击菜单【功能体验】 【微信支付】，体验微信支付整个过程。</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="test-item">
                        <img src="/images/v2/icon_13.png" />
                        <p class="item-title">微信弹出拍照或相册测试</p>
                        <p class="item-content">点击菜单【二级菜单】 【拍照或相册】，弹出拍照或从相框选择对话框，发送图片。</p>
                    </div>
                </td>
                <td>
                    <div class="test-item">
                        <img src="/images/v2/icon_14.png" />
                        <p class="item-title">微信扫码测试</p>
                        <p class="item-content">点击菜单【二级菜单】 【微信扫码】，进入微信扫码界面。</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="line"></div>
    <div class="weixin-weiweihi">
        <div class="weixin-item">
            <div class="weixin-item-content">
                <p class="weixin-item-title">基于 Senparc SDK 开发的“微微嗨会议智能助手”</p>
                <p class="weixin-item-font">“微微嗨会议智能助手”是在 Senparc.Weixin.MP + Open + Redis 等模块的基础上研发的实时场景互动云平台，为各类会议、活动、婚庆、教育等不同场景提供组织管理及多屏实时互动服务。欢迎体验！</p>
                @*<a href="http://www.weiweihi.com/AgentApply" class="application" target="_blank">申请成为微微嗨代理</a>*@
            </div>
            <div class="weixin-item-img">
                <img src="/images/v2/ewm_02.png" width="250" />
            </div>
            <a href="javascript:;"></a>
        </div>
        <div class="clear"></div>
    </div>
</div>

