<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net4" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net4" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net4" />
  <package id="EntityFramework.zh-Hans" version="5.0.0" targetFramework="net4" />
  <package id="jQuery" version="1.7.1.1" targetFramework="net4" />
  <package id="jQuery.UI.Combined" version="1.8.20.1" targetFramework="net4" />
  <package id="jQuery.Validation" version="1.9.0.1" targetFramework="net4" />
  <package id="knockoutjs" version="2.1.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="4.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.1" targetFramework="net4" />
  <package id="Microsoft.AspNet.Providers.Core.zh-Hans" version="1.1" targetFramework="net4" />
  <package id="Microsoft.AspNet.Providers.LocalDB" version="1.1" targetFramework="net4" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="2.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.0.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.Web.Optimization.zh-Hans" version="1.0.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.WebApi.Client.zh-Hans" version="4.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.WebApi.Core.zh-Hans" version="4.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.WebApi.WebHost.zh-Hans" version="4.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.WebPages.zh-Hans" version="2.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="2.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="2.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.Net.Http.zh-Hans" version="2.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net4" />
  <package id="Modernizr" version="2.5.3" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="4.5.6" targetFramework="net4" />
  <package id="WebGrease" version="1.1.0" targetFramework="net4" />
  <package id="ZXing.Net" version="0.14.0.1" targetFramework="net4" />
</packages>