@{
    ViewBag.Title = "首页";
}
@*
    @section scripts
    {
        <script>
            $(function () {
                $(".test table td:not(:empty)").hover(function () {
                    $(this).addClass('currentTestItem');
                }, function () {
                    $(this).removeClass('currentTestItem');
                });
            });
        </script>
    }
*@
<br />
<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">平台功能介绍</h3>
    </div>
    <div class="panel-body">
        <p>
            目前Senparc.Weixin SDK已支持微信6.x API中所有接口。以及 <strong>微信小程序</strong><a href="https://travis-ci.org/JeffreySu/WeiXinMPSDK" target="_blank"></a>
        </p>
    </div>
    <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
        <thead>
            <tr>
                <th class="text-center">序号</th>
                <th class="text-center">功能模块</th>
                <th class="text-center">Nuget 文件名</th>
                <th class="text-center">Nuget 版本</th>
                <th class="text-center">当前站点运行版本</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-right">1</td>
                <td>SDK 公共基础库</td>
                <td>
                    <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin" target="_blank">
                        Senparc.Weixin.dll
                    </a>
                </td>
                <td>
                    <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin" target="_blank">
                        <img src="https://img.shields.io/nuget/v/Senparc.Weixin.svg?style=flat" />
                    </a>
                </td>
                <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["WeixinVersion"])</a></td>
            </tr>
            <tr>
                <td class="text-right">2</td>
                <td>公众号，微信支付，JSSDK，摇一摇周边</td>
                <td>
                    <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP" target="_blank">
                        Senparc.Weixin.MP.dll
                    </a>
                </td>
                <td>
                    <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP" target="_blank">
                        <img src="https://img.shields.io/nuget/v/Senparc.Weixin.MP.svg?style=flat" />
                    </a>
                </td>
                <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["MpVersion"])</a></td>
            </tr>
            <tr>
                <td class="text-right">3</td>
                <td>开放平台 SDK</td>
                <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Open" target="_blank">Senparc.Weixin.Open.dll</a></td>
                <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Open" target="_blank"><img src="https://img.shields.io/nuget/v/Senparc.Weixin.Open.svg?style=flat" /></a></td>
                <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["OpenVersion"])</a></td>
            </tr>
            <tr>
                <td class="text-right">4</td>
                <td>企业号 SDK</td>
                <td>
                    <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.QY" target="_blank">
                        Senparc.Weixin.QY.dll
                    </a>
                </td>
                <td>
                    <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.QY" target="_blank">
                        <img src="https://img.shields.io/nuget/v/Senparc.Weixin.QY.svg?style=flat" />
                    </a>
                </td>
                <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["QYVersion"])</a></td>
            </tr>
            <tr>
                <td class="text-right">5</td>
                <td>MVC扩展插件</td>
                <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP.MVC" target="_blank">Senparc.Weixin.MP.MvcExtentsion.dll</a></td>
                <td><a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.MP.MVC" target="_blank"><img src="https://img.shields.io/nuget/v/Senparc.Weixin.MP.Mvc.svg?style=flat" /></a></td>
                <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["ExtensionVersion"])</a></td>
            </tr>
            <tr>
                <td class="text-right">6</td>
                <td>Redis 缓存</td>
                <td>
                    <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Cache.Redis" target="_blank">
                        Senparc.Weixin.Cache.Redis.dll
                    </a>
                </td>
                <td>
                    <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Cache.Redis" target="_blank">
                        <img src="https://img.shields.io/nuget/v/Senparc.Weixin.Cache.Redis.svg?style=flat" />
                    </a>
                </td>
                <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["RedisCacheVersion"])</a></td>
            </tr>
            <tr>
                <td class="text-right">7</td>
                <td>Memcached 缓存</td>
                <td>
                    <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Cache.Memcached" target="_blank">
                        Senparc.Weixin.Cache.Memcached.dll
                    </a>
                </td>
                <td>
                    <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.Cache.Memcached" target="_blank">
                        <img src="https://img.shields.io/nuget/v/Senparc.Weixin.Cache.Memcached.svg?style=flat" />
                    </a>
                </td>
                <td><a class="sdk-version" href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/src/Senparc.Weixin.MP.BuildOutPut" target="_blank">v@(TempData["MemcachedCacheVersion"])</a></td>
            </tr>
            <tr>
                <td class="text-right">8</td>
                <td>小程序</td>
                <td>
                    <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.WxOpen" target="_blank">
                        Senparc.Weixin.WxOpen.dll
                    </a>
                </td>
                <td>
                    <a class="sdk-version" href="https://www.nuget.org/packages/Senparc.Weixin.WxOpen" target="_blank">
                        <img src="https://img.shields.io/nuget/v/Senparc.Weixin.WxOpen.svg?style=flat" />
                    </a>
                </td>
                <td><a class="sdk-version" href="https://github.com/JeffreySu/WxOpen/" target="_blank">v@(TempData["WxOpenVersion"])</a></td>
            </tr>
    </table>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">文本信息</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/images/v2/icon_01.png" alt="文本信息测试">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">文本信息</h4>
                        随意输入文本信息，系统将自动回复一条包含原文的文本信息。如果连续发送多条信息，系统会自动记录通讯上的下文，知道超过规定时间记录自动清空。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">位置信息</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/images/v2/icon_02.png" alt="位置信息测试">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">位置信息</h4>
                        发送一条位置信息，系统将自动回复详细的位置信息图片数据及一条图文链接。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">图片信息</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/images/v2/icon_03.png" alt="图片信息测试">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">图片信息</h4>
                        发送一张图片，系统将自动回复一条带链接的图文信息。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">语音信息</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/images/v2/icon_04.png" alt="语音信息测试">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">语音信息</h4>
                        发送一条语音信息，系统将自动回复一条音乐格式信息。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">视频信息</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/images/v2/icon_05.png" alt="视频信息测试">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">视频信息</h4>
                        发送一条视频信息，系统将自动回复一条带有视频ID的信息。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">订阅信息</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/images/v2/icon_06.png" alt="订阅信息测试">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">订阅信息</h4>
                        订阅（关注）账号的第一时间，系统将发送一条欢迎信息（等同于之前的Hello2BizUser）
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">客服端约束信息</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/images/v2/icon_07.png" alt="客服端约束信息测试">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">客服端约束信息</h4>
                        发送文字信息【约束】，进行测试。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">自定义菜单</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/images/v2/icon_08.png" alt="自定义菜单测试">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">自定义菜单</h4>
                        点击自定菜单进行测试。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">代理+托管</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/images/v2/icon_09.png" alt="代理+托管测试">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">代理+托管</h4>
                        1.发送文字信息【代理】或【托管】，或点击菜单【功能体验】【托管】，服务器将从其他微信平台获取“代理”或“托管”文字请求的结果。2.点击菜单【功能体验】>【会员消息】，查看自己的会员信息（来自另外一台 WeiWeiHi 服务器的微信会员系统）
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">微信支付</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/images/v2/icon_12.png" alt="微信支付测试">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">微信支付</h4>
                        点击菜单【功能体验】 【微信支付】，体验微信支付整个过程。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">微信弹出拍照或相册</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/images/v2/icon_13.png" alt="微信弹出拍照或相册测试">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">微信弹出拍照或相册</h4>
                        点击菜单【二级菜单】 【拍照或相册】，弹出拍照或从相框选择对话框，发送图片。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">微信扫码</h3>
            </div>
            <div class="panel-body">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="~/images/v2/icon_14.png" alt="微信扫码测试">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">微信扫码</h4>
                        点击菜单【二级菜单】 【微信扫码】，进入微信扫码界面。
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>