# git ignore file
Nuget/
bin/
obj/
*.[pdb]
*.suo
*.user
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.csproj.user
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.v11.suo
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.csproj.user
Senparc.Weixin.MP/_ReSharper.Senparc.Weixin.MP/
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/obj/
Senparc.Weixin.MP/Senparc.Weixin.MP.v11.suo
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.csproj.user
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/
Senparc.Weixin.MP/TestResults/Senparc.Weixin.MP.TE.Tests.mdf
Senparc.Weixin.MP/TestResults/Senparc.Weixin.MP.TE.Tests_log.ldf
WeiXinMPSDK.zip
WeiXinMPSDK_v1.zip
bak.zip
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.csproj.user
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/Debug/Senparc.Weixin.MP.dll
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/Debug/Senparc.Weixin.MP.pdb
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/Debug/Senparc.Weixin.MP.Test.dll
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/Debug/Senparc.Weixin.MP.Test.pdb
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/obj/Debug/Senparc.Weixin.MP.Test.csprojResolveAssemblyReference.cache
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/obj/Debug/Senparc.Weixin.MP.Test.dll
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/obj/Debug/Senparc.Weixin.MP.Test.pdb
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.csproj.user
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/Debug/Senparc.Weixin.MP.dll
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/Debug/Senparc.Weixin.MP.pdb
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/Debug/Senparc.Weixin.MP.Test.dll
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/Debug/Senparc.Weixin.MP.Test.pdb
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/obj/Debug/Senparc.Weixin.MP.Test.csprojResolveAssemblyReference.cache
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/obj/Debug/Senparc.Weixin.MP.Test.dll
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/obj/Debug/Senparc.Weixin.MP.Test.pdb
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.csproj.user
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.csproj.user
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/obj/Debug/Senparc.Weixin.MP.Test.pdb
Senparc.Weixin.MP/_ReSharper.Senparc.Weixin.MP/
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/obj/
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.csproj.user
Senparc.Weixin.MP/Senparc.Weixin.MP.sln.DotSettings.user
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/Debug/Senparc.Weixin.MP.dll
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/Debug/Senparc.Weixin.MP.pdb
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/Debug/Senparc.Weixin.MP.Test.dll
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/bin/Debug/Senparc.Weixin.MP.Test.pdb
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/obj/Debug/Senparc.Weixin.MP.Test.csprojResolveAssemblyReference.cache
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/obj/Debug/Senparc.Weixin.MP.Test.dll
Senparc.Weixin.MP/Senparc.Weixin.MP.Test/obj/Debug/Senparc.Weixin.MP.Test.pdb
Senparc.Weixin.MP/Senparc.Weixin.MP/Senparc.Weixin.MP.csproj.user
Senparc.Weixin.MP.Sample.WebForms/Senparc.Weixin.MP.Sample.WebForms.v11.suo
Senparc.Weixin.MP.BuildOutPut/Senparc.Weixin.MP.pdb
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.sln.DotSettings.user
Senparc.Weixin.MP.BuildOutPut/Senparc.Weixin.MP.MvcExtension.pdb
*.pdb
*.pdb
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/Web.config
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/1.txt
Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/Web.config
/Senparc.Weixin.MP/Senparc.Weixin.MP.Test/test.config
/Senparc.Weixin.Open/Senparc.Weixin.Open.Test/test.bak.config
/Senparc.Weixin.Open/Senparc.Weixin.Open.Test/test.config
/Senparc.Weixin.MP.Sample/UpgradeLog.htm
*.tmp
/Senparc.Weixin.MP.BuildOutPut/Senparc.Weixin.xml
/Senparc.Weixin.MP.BuildOutPut/Senparc.Weixin.Open.XML
/Senparc.Weixin.MP.BuildOutPut/Senparc.Weixin.Open.dll
/Senparc.Weixin.MP.BuildOutPut/Senparc.Weixin.MP.xml
/Senparc.Weixin.MP.BuildOutPut/Senparc.Weixin.MP.MvcExtension.dll
/Senparc.Weixin.MP.BuildOutPut/Senparc.Weixin.MP.dll
/Senparc.Weixin.MP.BuildOutPut/Senparc.Weixin.dll
/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/App_Data/SenparcWeixinTrace.log

/Tools/*
*.DotSettings
/Senparc.Weixin.MP.BuildOutPut/chm
