# git ignore file
/backup/
Nuget/
bin/
obj/
.vscode/
*.[pdb]
*.suo
*.user
WeiXinMPSDK.zip
WeiXinMPSDK_v1.zip
bak.zip
*.pdb
*.tmp

#/Tools/*
*.DotSettings
.vs
applicationhost.config
packages/
/src/Senparc.Weixin.QY/Senparc.Weixin.QY.Test/test.config
/src/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/.vscode
/src/Senparc.Weixin.MP.BuildOutPut
/src/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.Libraries.VC.VC.opendb
/src/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.Libraries.VC.db
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.WxOpen.Tests/Config
/src/Senparc.Weixin.MP.BuildOutPut
/src/Senparc.Weixin.MP.Sample.vs2017/Senparc.Weixin.MP.CoreSample/Properties/PublishProfiles
/src/Senparc.Weixin.Work/Senparc.Weixin.Work.Test/Config
/src/Senparc.Weixin.MP.BuildOutPut/readme.txt
/src/Senparc.Weixin.MP.Sample.vs2017/Senparc.Weixin.MP.CoreSample/App_Data/Document/Files
/Samples/Senparc.Weixin.MP.Sample/UpgradeLog2.htm
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.WxOpen.AppDemo/project.config.json
/src/Senparc.WebSocket/src/Senparc.Weixin.MP.BuildOutPut/netcoreapp2.0
/src/Senparc.WebSocket/src/Senparc.Weixin.MP.BuildOutPut/netcoreapp2.1
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.MP.BuildOutPut/netcoreapp2.0
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.MP.BuildOutPut/netcoreapp2.1

/Samples/Senparc.Weixin.MP.Sample.vs2017/Senparc.Weixin.MP.CoreSample/App_Data/SenparcTraceLog/*
/Samples/Senparc.Weixin.MP.Sample.vs2017/Senparc.Weixin.MP.CoreSample/appsettings.Development.json
/Samples/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/App_Data/SenparcTraceLog/*
/src/Senparc.Weixin.MP/Senparc.Weixin.MP.Test/App_Data/SenparcTraceLog/*
/src/Senparc.Weixin.Open/Senparc.Weixin.Open.Test/App_Data/SenparcTraceLog/*
/Senparc.Weixin.TenPay.BuildOutPut/*.nupkg
/Senparc.Weixin.TenPay.BuildOutPut/net35
/Senparc.Weixin.TenPay.BuildOutPut/net40
/Senparc.Weixin.TenPay.BuildOutPut/net45
/Senparc.Weixin.TenPay.BuildOutPut/netcoreapp2.0
/Senparc.Weixin.TenPay.BuildOutPut/netcoreapp2.1
/Senparc.Weixin.TenPay.BuildOutPut/netstandard2.0

/Senparc.Weixin.TenPay.BuildOutPut/net35/*
/Senparc.Weixin.TenPay.BuildOutPut/net40/*
/Senparc.Weixin.TenPay.BuildOutPut/net45/*
/Senparc.Weixin.TenPay.BuildOutPut/netcoreapp2.0/*
/Senparc.Weixin.TenPay.BuildOutPut/netcoreapp2.1/*
/Senparc.Weixin.TenPay.BuildOutPut/netstandard2.0/*
/Senparc.Weixin.MP.BuildOutPut/net35
/Senparc.Weixin.MP.BuildOutPut/net45
/Senparc.Weixin.MP.BuildOutPut/net40
/Senparc.Weixin.MP.BuildOutPut/netcoreapp2.0
/Senparc.Weixin.MP.BuildOutPut/netcoreapp2.1
/Senparc.Weixin.MP.BuildOutPut/netstandard2.0
*.nupkg
/src/src/Senparc.Weixin.MP.BuildOutPut/.net4.5/Senparc.Weixin.WxOpen.XML
/Samples/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/App_Data/NeuChar/NeuCharRoot.config
/Samples/Senparc.Weixin.MP.Sample.vs2017 - DPB
/Samples/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/App_Data/NeuChar/NeuCharRoot.bak.*
/Samples/Senparc.Weixin.MP.Sample.vs2017/Senparc.Weixin.MP.CoreSample/Properties/PublishProfiles/FolderProfile.pubxml
/Samples/Senparc.Weixin.MP.Sample.WebForms/Senparc.Weixin.MP.Sample.WebForms/App_Data/SenparcTraceLog/*
/Samples/Senparc.Weixin.MP.Sample.vs2017/Senparc.Weixin.MP.CoreSample/App_Data/NeuChar/NeuCharRoot.config
/src/Senparc.Weixin.MP/Senparc.WeixinTests/App_Data/SenparcTraceLog
/src/Senparc.Weixin.Work/Senparc.Weixin.Work.Test/App_Data/SenparcTraceLog/
