# git ignore file
/backup/
Nuget/
bin/
obj/
*.[pdb]
*.suo
*.user
WeiXinMPSDK.zip
WeiXinMPSDK_v1.zip
bak.zip
*.pdb
*.tmp

#/Tools/*
*.DotSettings
.vs
applicationhost.config
packages/
/src/Senparc.Weixin.QY/Senparc.Weixin.QY.Test/test.config
/src/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample/.vscode
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.MP.BuildOutPut/.net4.5/Senparc.Weixin.xml
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.MP.BuildOutPut/.net4.5/Senparc.Weixin.WxOpen.XML
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.MP.BuildOutPut/.net4.5/Senparc.Weixin.WxOpen.dll
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.MP.BuildOutPut/.net4.5/Senparc.Weixin.MP.xml
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.MP.BuildOutPut/.net4.5/Senparc.Weixin.MP.dll
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.MP.BuildOutPut/.net4.5/Senparc.Weixin.dll
/src/src/Senparc.Weixin.MP.BuildOutPut/.net4.5/Senparc.Weixin.WxOpen.XML
/src/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.Libraries.VC.VC.opendb
/src/Senparc.Weixin.MP.Sample/Senparc.Weixin.MP.Sample.Libraries.VC.db
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.WxOpen.Tests/Config
/src/Senparc.Weixin.MP.BuildOutPut/netstandard1.6
/src/Senparc.Weixin.MP.BuildOutPut
/src/Senparc.Weixin.MP.BuildOutPut/net45/Senparc.WebSocket.dll.config
/src/Senparc.Weixin.MP.Sample.vs2017/Senparc.Weixin.MP.CoreSample/Properties/PublishProfiles
/src/Senparc.Weixin.Work/Senparc.Weixin.Work.Test/Config
/src/Senparc.Weixin.MP.BuildOutPut/readme.txt
/src/Senparc.Weixin.MP.BuildOutPut/netstandard1.6
/src/Senparc.Weixin.MP.BuildOutPut/netstandard2.0
/src/Senparc.Weixin.MP.BuildOutPut/Senparc.Weixin.WxOpen.1.6.0.nupkg
/src/Senparc.Weixin.MP.BuildOutPut/Senparc.Weixin.Work.1.0.0.nupkg
/src/Senparc.Weixin.MP.Sample.vs2017/Senparc.Weixin.MP.CoreSample/App_Data/Document/Files
/Samples/Senparc.Weixin.MP.Sample/UpgradeLog2.htm
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.WxOpen.AppDemo/project.config.json
/src/Senparc.WebSocket/src/Senparc.Weixin.MP.BuildOutPut/netcoreapp2.0
/src/Senparc.WebSocket/src/Senparc.Weixin.MP.BuildOutPut/netcoreapp2.1
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.MP.BuildOutPut/netcoreapp2.0
/src/Senparc.Weixin.WxOpen/src/Senparc.Weixin.MP.BuildOutPut/netcoreapp2.1
/Samples/Senparc.Weixin.MP.Sample.vs2017/Senparc.Weixin.MP.CoreSample/App_Data/SenparcTraceLog/*
