<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!--
            Used to specify the default location to expand packages.
            See: nuget.exe help install
            See: nuget.exe help update
        -->
    <add key="repositoryPath" value="../packages" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <!--<add key="nuget" value="https://api.nuget.org/v3/index.json" />-->
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>