<?xml version="1.0" encoding="utf-8"?>
<Config>
  <QrCodeId>15729</QrCodeId>
  <DownloadCount>4452</DownloadCount>
  <Versions>
    <Version>13.7.5</Version>
    <Version>13.7.0</Version>
    <Version>13.6.8</Version>
    <Version>13.6.6</Version>
    <Version>13.6.3</Version>
    <Version>13.6.2</Version>
  </Versions>
</Config>