.hide {
    display: none;
}
.content {
    min-width: 1000px;
}.senparc-header {
	background:#034067;
}
.logo {
	float:left;
}
.logo img {
	margin-top:8px;
}
.navbar-collapse {
	float:left;
}
.wrapper-header {
	width: 1100px;
	margin: 0 auto;
}
.header-title {
	font-size: 22px;
	line-height: 38px;
	padding-top:8px;
	float:left;
	margin-left: 6px;
	letter-spacing:2px;
}
.header-title a{
	color:#fff;}
.navbar-brand {
	padding-top:10px;
}
.nav-catalog {
	line-height:58px;
	color:#fff;
	padding-left:176px;
}
.nav-catalog li {
	color:#fff;
	line-height:58px;
	font-size:16px;
	float:left;
	padding-left:48px;
}
.nav-catalog a {
	color:#fff;
}
.senparc-jumbotron {
	background:url(/images/v2/background.png);
	width:100%;
	padding:28px 0;
}
.senparc-container {
}
.container-left {
	height:100%;
	text-align:center;
	width:260px;
	float:left;
	margin-top:8px;
}
.container-left li {
	background:#4EBBFD;
	margin-bottom: 20px;
	line-height: 36px;
	border-radius: 30px;
	font-size:18px;
	letter-spacing:1px;
}
.container-left a {
	color:#fff;
	display:block;
}
.container-right {
	float: left;
	padding-left: 49px;
	margin-top:4px;
}
.container-span {
	font-size:28px;
	color:#fff;
	display:block;
	padding-bottom:26px;
}
.container-p {
	font-size:18px;
	color:#fff;
	letter-spacing:1px;
	line-height: 30px;
    display: block;
}
.contact {
	margin-top:118px;
}
.contatc-name {
	font-size:16px;
	color:#fff;
	letter-spacing:1px;
	float:left;
	line-height:26px;
}
.contatc-img {
	float:left;
	margin-right:10px;
    display:inline;
}
.contatc-img a{display:block;}
.catalog {
	height:94px;
	background:#E7EEF1;
	text-align:center;
}
.catalog a {
	line-height: 98px;
	font-size: 22px;
	color:#BCBFBF;
	letter-spacing:2px;
	padding-right:88px;
}
.catalog a:hover,.catalog a.active {
	color:#0781CD;
}
.wrapper {
	width:1000px;
	margin:0 auto;
    overflow: hidden;
}
.weixin-item {
	/*float:left;
	width:40%;*/
}

.max {
	width:60%;
}
.weixin-item:last-child {
	margin-left:0;
}
.weixin-item-title {
	font-size:20px;
	color:#4D4D4D;
	letter-spacing:1px;
	margin-bottom:20px;
	margin-top:35px;
}
.weixin-bottom-buttons {
    margin-top: 40px;
    clear: both;
}
.weixin-item-button {
	margin-bottom:20px;
}


.weixin-item-content {
	width:60%;
	float:left;
}
.weixin-item-font {
	font-size:16px;
	color:#7E7E7E;
	line-height:24PX;
	padding-bottom:20px;
	padding-right:40px;
}
.weixin-item img {
    /*margin-left: 40px;*/

}
img.official-img {
    margin: 50px 0 0 0;
    clear: both;
}

.weixin-weiweihi{ width: 730px;margin: 0 auto;margin-bottom: 30px;}

.content-weixin{ text-align: center;margin-bottom: 30px;float: left;margin-left: 50px;}

.weixin-bottom {
	text-align:center;
	padding-bottom:40px;
    width: 671px;
    float: left;
}
.application {
	background:#1FA0D2;
	padding: 5px;
	color:#fff;
	letter-spacing: 1px;
	font-size: 16px;
	margin-top: 20px;
	border-radius: 5px;
}
.test {
    margin-top: 0px; padding-bottom:20px; padding-top: 30px; clear: both;
}

.test table {
    width: 100%;
}

.test table td {
    width: 50%;
}

.test-item {
    /*float: left;*/
	text-align:center;
    /*margin-right: 4%;*/
    height: 100%;
    margin: 20px;
    vertical-align: top;
}

.item-title {
	font-size:20px;
	color:#4D4D4D;
	letter-spacing:1px;
	padding-top:8px;
	padding-bottom:12px;
}
.item-content {
	font-size:16px;
	color:#7E7E7E;
	line-height:24PX;
	padding-bottom:20px;
}
.feedback {
	/*height:290px;*/
	background:#EDF0F0;
	padding-top:40px;
    padding-bottom: 40px;
    overflow:hidden;
    margin-top: 20px;
}
.feedback-info {
	width:60%;
	float:left;
}
.feedback-info p {
	color:#5E5E5F;
	font-size:22px;
	line-height:40px;
	letter-spacing:1px;
	padding-left: 60px;
}
.feedback-action {
	width:30%;
	float:left;
	text-align:center;
}
.feedback-action p {
	color:#808383;
	line-height:30px;
	font-size:16px;
	letter-spacing:1px;
}
.feedback-action img {
    width: 184px;
}
.footer {
	background:#0A9CD2;
	height:84px;
	text-align:center;
	padding-top:10px;
}
.footer-contact {
	font-size:16px;
	color:#fff;
	line-height:36px;
}
.footer-contact a{
	color:#fff;}
.footer-icon {
	font-size:14px;
	color:#fff;
}
.clear {
	clear:both;
}
.form-control {
	padding:36px 0;
	width:50%;
	float:left;
}
.control-label {
	text-align: right;
	float: left;
	width: 93px;
	font-size:14px;
	color:#585858;
	line-height:32px;
	padding-right:6px;
    height:32px;
    margin: 10px 0;
}
.form-control li {
}
.control-input {
	height:22px;
	width:300px;
	padding: 5px;
    border: 1px solid #A09D9D;
    margin: 10px 0;
}
.control-select {
	width:300px;
    height: 32px;
    margin: 10px 0;
}
.control-title {
	font-size:18px;
	color:#585858;
	padding-left:93px;
    margin-top: 20px;
    overflow: hidden;
}
.send {
	padding-left:0;
	display:block;
}
.control-btn {
	margin-left:93px;
	height:36px;
	width:314px;
	background:#0A9CD2;
	color:#fff;
	letter-spacing:1px;
	line-height:36px;
	text-align:center;
	font-size:16px;
	border:0;
	cursor:pointer;
}
.control-text {
	width:438px;
	height:190px;
	padding:5px;
    margin: 10px 0;
}
.control-head {
	width:314px;
	text-align:center;
}
.control-p {
	color:#585858;
	font-size: 14px;
	line-height: 24px;
	width: 80%;
	padding-left: 30px;
	letter-spacing: 1px;
}
.up-experience {
	text-align:center;
	padding-bottom:100px;
	padding-top:0;
}
.up-experience p {
	color:#4C4C4C;
	font-size:20PX;
	letter-spacing:1px;
	line-height:36px;
}
.up-experience img {
	padding:30px 0;
    width:100%;
}
.up-experience a {
	background:#0A9CD2;
	letter-spacing:2px;
	color:#fff;
	font-size:18px;
	padding: 10px 20px;
}

.version{ margin-top: 16px;}

#tbVersion{ color: #4d4d4d;font-size: 18px;/*text-align: center;*/ }
#tbVersion th{ font-weight: bold;padding: 10px; color: #4d4d4d;border-bottom: 1px solid #4d4d4d;}
#tbVersion td{ padding: 6px; color: #4d4d4d;line-height: 150%; vertical-align:middle;}
#tbVersion td a{ color: #4d4d4d;}
.sdk-version{ text-decoration:underline;}
.sdk-version:hover{ text-decoration:none;}
#tbVersion tbody>tr:hover{ background: #abe0ff;}

#menuEditor h3{text-align: left;
font-size: 16px;
font-weight: bold;
margin-top: 20px;}
#menuEditor ul{margin:13px 0;padding-left:40px;list-style:disc;font-size: 15px;
line-height: 22px;}
#menuEditor li{}
#menuEditor .control-btn{margin-left: 0px;width: 118px;}
.float-left{float:left;}
.menu-state{padding: 14px 0;}
.menu-list{width: 580px;}
.menu-list table{width: 580px;}
.menu-list table tr{}
.menu-list table tr th{font-size: 1.2em;text-align:left;}
.menu-list table tr td{}
.menu-list .control-input{width: auto;}
#submitArea{margin-bottom:14px;}

.line { width: 96%;margin: 0 auto;height: 0px;overflow: hidden;border-bottom: 1px solid #ddd;}
.currentTestItem{ background: #ddd;}

.segregate{ height: 0px;width: 90%;margin: 40px auto;     border-bottom: 1px solid #ddd;overflow: hidden;clear: both;}
.crowdfunding-note p{ font-size: 16px; }
