<Config>
  <AppId>wxfcb0a0031394a51c</AppId>
  <Secret>2b00c97352752e5dd0c8463b2d11ed32</Secret>
  <MchId>10017762</MchId>
  <TenPayKey>你的TenPayKey</TenPayKey>
  <TenPayCertPath>你的TenPayCertPath</TenPayCertPath>
</Config>
<!--
设置此文件，可以不用在CommonApiTest.cs文件中配置AppId和Secret等参数。

使用方法：
1、修改上述参数、保存
2、在同一个目录下，创建新的文件夹Config，并将此文件移动到Conifg文件夹下。
 -->