<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>../TestResults/Integration</ResultsDirectory>
    <CollectSourceInformation>true</CollectSourceInformation>
    <TestCaseFilter>TestCategory=Integration</TestCaseFilter>
  </RunConfiguration>
</RunSettings>
