@{
    ViewBag.Title = "Senparc.Weixin SDK 插件";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderContent
{
    <style>
        .description {
            padding: 30px 30px 100px 30px;
        }

            .description h1 {
                font-size: 200%;
                font-weight: bold;
            }

            .description p {
                line-height: 150%;
                margin: 20px 0px;
            }

        table#tbPlugins a:hover {
            text-decoration: underline;
        }

        table#tbPlugins th {
            font-weight: bold;
        }

        table#tbPlugins tr {
            border-bottom: 1px solid #808080;
        }

        table#tbPlugins th, table#tbPlugins td {
            padding: 15px 10px;
            font-size: 120%;
        }
    </style>
    <script>

    </script>
}
<div class="wrapper">
    <div class="description">
        <h1>@ViewBag.Title</h1>
        <p>
            插件集合：<a href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/Plugins" target="_blank">https://github.com/JeffreySu/WeiXinMPSDK/tree/master/Plugins</a>
        </p>

        <table id="tbPlugins">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>说明</th>
                    <th>源码地址</th>
                    <th>线上Demo</th>
                    <th>更多介绍</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>TraceManager</td>
                    <td>微信日志管理</td>
                    <td><a href="https://github.com/OpenSenparc/Senparc.Weixin.Plugins.WeixinTraceManager" target="_blank">打开</a></td>
                    <td><a href="http://TraceManager.Plugins.Weixin.Senparc.com" target="_blank">http://TraceManager.Plugins.Weixin.Senparc.com</a></td>
                    <td><a href="http://study.163.com/course/courseLearn.htm?courseId=1004873017#/learn/video?lessonId=1051353007&courseId=1004873017" target="_blank">视频</a></td>
                </tr>
                <tr>
                    <td>TemplateMessageManager</td>
                    <td>模板消息管理</td>
                    <td><a href="https://github.com/OpenSenparc/Senparc.Weixin.Plugins.TemplateMessageManager" target="_blank">打开</a></td>
                    <td>@*<a href="http://TraceManager.Plugins.Weixin.Senparc.com" target="_blank">http://TraceManager.Plugins.Weixin.Senparc.com</a>*@尚未发布</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="clear"></div>
