<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @if (!string.IsNullOrWhiteSpace(this.Context.Request.PathBase))
    {
        <base href="@this.Context.Request.PathBase" />
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Senparc.Weixin SDK</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    @*<link href="~/Content/danktooltip/css/darktooltip.min.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/@(System.Reflection.Assembly.GetExecutingAssembly().GetName().Name).styles.css" asp-append-version="true" />
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar_top" data-bs-offset="50" tabindex="0">
    <header>
        <nav id="navbar_top" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                @*container-fluid*@
                <img src="~/images/senparc-logo-500.jpg" id="top-logo" />

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Senparc.Weixin.WxOpen 微信小程序模块</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="https://github.com/JeffreySu/WeiXinMPSDK" class="nav-link text-dark text-decoration-none" target="_blank">
                                源码
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                </svg>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://sdk.weixin.senparc.com" target="_blank">在线 Sample</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://weixin.senparc.com/QA" target="_blank">问答社区</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 pt-5 mt-5">
            @RenderBody()
        </main>
    </div>
    @(await Html.PartialAsync("_FooterPartial"))

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
