@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>测试snsapi_userinfo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK" />
    <script language="javascript" src="http://res.mail.qq.com/mmr/static/lib/js/jquery.js" type="text/javascript"></script>
    <script language="javascript" src="http://res.mail.qq.com/mmr/static/lib/js/lazyloadv3.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
</head>
<body>
    <div>
        <p><a href="@ViewData["UrlUserInfo"]">点击这里测试snsapi_userinfo</a></p>
        <p>
            将要链接到的地址：<br />
            <textarea rows="10" cols="40">@ViewData["UrlUserInfo"]</textarea>
        </p>
    </div>
</body>
</html>
