@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
        <title>微信支付测试跳转页</title>

    </head>
    <body>
        <div>
            <a href="@Url.Action("GetOpenId","TenPayV3")">获取OpenId</a>
        </div>
    </body>
</html>