<div id="title_about" class="target-fix"></div>
<h3>关于</h3>
<p>使用 Senparc.Weixin，您可以方便快速地开发微信全平台的应用（包括微信公众号、小程序、小游戏、企业号、开放平台、微信支付、JS-SDK、微信硬件/蓝牙，等等）。本项目的 Demo 同样适合初学者进行 .NET 编程学习。</p>
<p>
    目前 Senparc.Weixin 已经支持几乎所有微信平台模块和接口，并同时支持
    <a href="https://github.com/JeffreySu/WeiXinMPSDK/tree/Developer" target="_blank">.NET 3.5 / 4.0 / 4.5 / .NET Standard 2.x / .NET Core 2.x / .NET Core 3.x / .NET 6.0 / .NET 8.0</a> 多种框架。
</p>
<p>Senparc.Weixin SDK 是目前使用率最高的微信 .NET SDK，也是国内最受欢迎的 .NET 开源项目之一，是唯一入选 <strong>2021“科创中国”开源创新榜</strong><a href="https://tv.sohu.com/v/dXMvOTkyNjI2MTAvMzI3NjU3NDI0LnNodG1s.html?key=/v/dXMvOTkyNjI2MTAvMzI3NjU3NDI0LnNodG1s.html?vid=327657424&vid=327657424" target="_blank">[1]</a> <a href="https://cccst.org.cn/detail?id=846" target="_blank">[2]</a> 的 .NET 项目。</p>
<p>项目自 2012 年开源，2013 年 1 月起正式发布到 GitHub。10 余年来，我们一直保持着项目的持续更新，并将完整的源代码以及设计思想毫无保留地分享给大家，希望有更多的人可以从中受益，理解并传播开源的精神，一同助力中国开源事业！感恩一路上给我们提供帮助的朋友们！</p>
<div id="title_about_team" class="target-fix"></div>
<h5>团队</h5>
<p>Senparc.Weixin 由盛派网络及盛派开发者社区核心团队负责维护，同时正在得到大量来自社区成员和社会各界的支持，欢迎加入我们！</p>
<div id="title_about_support" class="target-fix"></div>
<h5>支持</h5>
<p>Senparc.Weixin 提供 100% 源码、线上 Sample、文档、图书、视频课程、线上开发者平台、问答平台、QQ / 微信群，以及不定期的线上/线下分享会等各种形式的支持服务，并坚持不间断维护源码，发布新版本。</p>
<p>联系邮箱：zsu@senparc.com</p>
<div id="title_about_license" class="target-fix"></div>
<h5>开源协议</h5>
<p>Senaprc.Weixin 使用 <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">APACHE LICENSE V2.0</a> 开源协议，支持商用。</p>