<div id="title_advance" class="target-fix"></div>
<div>
    <h3>进阶</h3>
    <p>当前示例展示了最基本和常用的功能，如果您需要了解更多高级玩法，并且有扎实的编程功底，请参考完整示例。</p>
    <figure class="file">
        <blockquote class="blockquote">
            <p>完整示例解决方案文件：</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Senparc.Weixin SDK 源文件根目录/<cite title="Source Title">Samples/All/net8-mvc/Senparc.Weixin.Sample.Net8.sln</cite>
        </figcaption>
        <blockquote class="blockquote">
            <p>务必阅读 readme 文件：</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Senparc.Weixin SDK 源文件根目录/<cite title="Source Title">Samples/All/net8-mvc/readme.md</cite>
        </figcaption>
    </figure>
</div>