<div class="carousel-item active">
    <img src="~/images/banner/01.jpg" alt="微信全平台支持" class="d-block" style="width:100%">
    <div class="carousel-caption">
        <h3>微信全平台支持</h3>
        <p>微信公众号、小程序、企业微信、微信支付 V2 / V3、开放平台……</p>
    </div>
</div>
<div class="carousel-item">
    <img src="~/images/banner/01.jpg" alt="强大技术社区支持" class="d-block" style="width:100%">
    <div class="carousel-caption">
        <h3>强大技术社区支持</h3>
        <p>线上讨论社区、图书、视频课程、各类文档</p>
    </div>
</div>
<div class="carousel-item">
    <img src="~/images/banner/01.jpg" alt="2012 开源至今" class="d-block" style="width:100%">
    <div class="carousel-caption">
        <h3>2012 开源至今</h3>
        <p>十年如一日持续更新 盛派出品值得信赖</p>
    </div>
</div>