<p class="no-text-indent">
    <a href="https://mysenparc.visualstudio.com/Senparc%20SDK/_build/latest?definitionId=36" target="_blank"><img src="https://mysenparc.visualstudio.com/Senparc%20SDK/_apis/build/status/Weixin%20SDK/Senparc.Weixin%20Dev-%E5%86%85%E9%83%A8-%E8%87%AA%E5%8A%A8-.Net6" alt="Build status"></a>

    <a href="https://github.com/JeffreySu/WeiXinMPSDK/commits/master" target="_blank"><img src="https://img.shields.io/github/commit-activity/4w/JeffreySu/WeiXinMPSDK.svg" alt="GitHub commit activity the past week, 4 weeks, year"></a>

    <a href="https://www.nuget.org/packages/Senparc.Weixin" target="_blank"><img src="https://img.shields.io/nuget/dt/Senparc.Weixin.svg" alt="Senparc.Weixin"></a>

    <a href="https://www.nuget.org/packages/Senparc.Weixin.@(ViewData["PlatformName"])" target="_blank"><img src="https://img.shields.io/nuget/dt/Senparc.Weixin.@(ViewData["PlatformName"]).svg" alt="Senparc.Weixin.@(ViewData["PlatformName"])"></a>

    <a href="https://www.nuget.org/packages/Senparc.Weixin.@(ViewData["PlatformName"])" target="_blank"><img src="https://img.shields.io/nuget/v/Senparc.Weixin.@(ViewData["PlatformName"]).svg?style=flat" alt="Senparc.Weixin.@(ViewData["PlatformName"])"></a>

    <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank"><img src="https://img.shields.io/github/license/JeffreySu/WeiXinMPSDK.svg" alt="Senparc.Weixin SDK"></a>
</p>