@model Senparc.Weixin.Sample.SourceCodeViewModel
<div>
    <h3>源码</h3>
    <h5>Senparc.Weixin SDK 源码</h5>
    <p>GitHub：<a href="https://github.com/JeffreySu/WeiXinMPSDK" target="_blank">https://github.com/JeffreySu/WeiXinMPSDK</a>（更新更快）</p>
    <p>Gitee：<a href="https://gitee.com/JeffreySu/WeiXinMPSDK" target="_blank">https://gitee.com/JeffreySu/WeiXinMPSDK</a> （从 GitHub 同步）</p>
    <h5>打包代码</h5>
    <p>Nuget 包地址：<a href="https://www.nuget.org/packages/@Model.LibName" target="_blank">https://www.nuget.org/packages/@Model.LibName</a></p>
    <h5>本地源码文件</h5>
    <p>@Model.LibName 源码位置：<a href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master@(Model.LibSourcePath)" target="_blank">@Model.LibSourcePath</a></p>
</div>