<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack.Common" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Redis" version="4.0.54" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.54" targetFramework="net452" />
</packages>