@model Senparc.Weixin.MP.Entities.GetMenuResult
@{
    ViewBag.Title = "自定义菜单工具";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-wrapper main-content clear-fix">
    <h1>自定义菜单工具</h1>

</section>
