@{
    ViewBag.Title = "重置密码确认";
}

<hgroup class="title">
    <h1>@ViewBag.Title。</h1>
</hgroup>
<div>
    <p>
        你的密码已重置。请 @Html.ActionLink("单击此处登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
