@model Senparc.Weixin.MP.Entities.GetMenuResult
@*DPBMARK_FILE TenPay*@
@{
    ViewBag.Title = "银行编码对照表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderContent
{
    <style>
        .table-wrapper {
            margin: 30px auto;
            width: 400px;
        }

            .table-wrapper h1 {
                text-align: center;
            }

        .table {
            width: 90%;
            margin: 20px;
        }

            .table th, .table td {
                padding: 8px;
            }

            .table thead th {
                background: #cbcbcb;
                font-weight: bold;
            }
    </style>
}
<div class="wrapper">
    <div class="table-wrapper">
        <h1>银行编码对照表</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>字符型银行编码 </th>
                    <th>银行名称 </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>ICBC_DEBIT</td>
                    <td>工商银行(借记卡)</td>
                </tr>
                <tr>
                    <td>ICBC_CREDIT</td>
                    <td>工商银行(信用卡)</td>
                </tr>
                <tr>
                    <td>ABC_DEBIT</td>
                    <td>农业银行(借记卡)</td>
                </tr>
                <tr>
                    <td>ABC_CREDIT</td>
                    <td>农业银行(信用卡)</td>
                </tr>
                <tr>
                    <td>PSBC_DEBIT</td>
                    <td>邮政储蓄银行(借记卡)</td>
                </tr>
                <tr>
                    <td>PSBC_CREDIT</td>
                    <td>邮政储蓄银行(信用卡)</td>
                </tr>
                <tr>
                    <td>CCB_DEBIT</td>
                    <td>建设银行(借记卡)</td>
                </tr>
                <tr>
                    <td>CCB_CREDIT</td>
                    <td>建设银行(信用卡)</td>
                </tr>
                <tr>
                    <td>CMB_DEBIT</td>
                    <td>招商银行(借记卡)</td>
                </tr>
                <tr>
                    <td>CMB_CREDIT</td>
                    <td>招商银行(信用卡)</td>
                </tr>
                <tr>
                    <td>BOC_DEBIT</td>
                    <td>中国银行(借记卡)</td>
                </tr>
                <tr>
                    <td>BOC_CREDIT</td>
                    <td>中国银行(信用卡)</td>
                </tr>
                <tr>
                    <td>COMM_DEBIT</td>
                    <td>交通银行(借记卡)</td>
                </tr>
                <tr>
                    <td>SPDB_DEBIT</td>
                    <td>浦发银行(借记卡)</td>
                </tr>
                <tr>
                    <td>SPDB_CREDIT</td>
                    <td>浦发银行(信用卡)</td>
                </tr>
                <tr>
                    <td>GDB_DEBIT</td>
                    <td>广发银行(借记卡)</td>
                </tr>
                <tr>
                    <td>GDB_CREDIT</td>
                    <td>广发银行(信用卡)</td>
                </tr>
                <tr>
                    <td>CMBC_DEBIT</td>
                    <td>民生银行(借记卡)</td>
                </tr>
                <tr>
                    <td>CMBC_CREDIT</td>
                    <td>民生银行(信用卡)</td>
                </tr>
                <tr>
                    <td>PAB_DEBIT</td>
                    <td>平安银行(借记卡)</td>
                </tr>
                <tr>
                    <td>PAB_CREDIT</td>
                    <td>平安银行(信用卡)</td>
                </tr>
                <tr>
                    <td>CEB_DEBIT</td>
                    <td>光大银行(借记卡)</td>
                </tr>
                <tr>
                    <td>CEB_CREDIT</td>
                    <td>光大银行(信用卡)</td>
                </tr>
                <tr>
                    <td>CIB_DEBIT</td>
                    <td>兴业银行(借记卡)</td>
                </tr>
                <tr>
                    <td>CIB_CREDIT</td>
                    <td>兴业银行(信用卡)</td>
                </tr>
                <tr>
                    <td>CITIC_DEBIT</td>
                    <td>中信银行(借记卡)</td>
                </tr>
                <tr>
                    <td>CITIC_CREDIT</td>
                    <td>中信银行(信用卡)</td>
                </tr>
                <tr>
                    <td>BOSH_DEBIT</td>
                    <td>上海银行(借记卡)</td>
                </tr>
                <tr>
                    <td>BOSH_CREDIT</td>
                    <td>上海银行(信用卡)</td>
                </tr>
                <tr>
                    <td>CRB_DEBIT</td>
                    <td>华润银行(借记卡)</td>
                </tr>
                <tr>
                    <td>HZB_DEBIT</td>
                    <td>杭州银行(借记卡)</td>
                </tr>
                <tr>
                    <td>HZB_CREDIT</td>
                    <td>杭州银行(信用卡)</td>
                </tr>
                <tr>
                    <td>BSB_DEBIT</td>
                    <td>包商银行(借记卡)</td>
                </tr>
                <tr>
                    <td>BSB_CREDIT</td>
                    <td>包商银行(信用卡)</td>
                </tr>
                <tr>
                    <td>CQB_DEBIT</td>
                    <td>重庆银行(借记卡)</td>
                </tr>
                <tr>
                    <td>SDEB_DEBIT</td>
                    <td>顺德农商行(借记卡)</td>
                </tr>
                <tr>
                    <td>SZRCB_DEBIT</td>
                    <td>深圳农商银行(借记卡)</td>
                </tr>
                <tr>
                    <td>HRBB_DEBIT</td>
                    <td>哈尔滨银行(借记卡)</td>
                </tr>
                <tr>
                    <td>BOCD_DEBIT</td>
                    <td>成都银行(借记卡)</td>
                </tr>
                <tr>
                    <td>GDNYB_DEBIT</td>
                    <td>南粤银行(借记卡)</td>
                </tr>
                <tr>
                    <td>GDNYB_CREDIT</td>
                    <td>南粤银行(信用卡)</td>
                </tr>
                <tr>
                    <td>GZCB_DEBIT</td>
                    <td>广州银行(借记卡)</td>
                </tr>
                <tr>
                    <td>GZCB_CREDIT</td>
                    <td>广州银行(信用卡)</td>
                </tr>
                <tr>
                    <td>JSB_DEBIT</td>
                    <td>江苏银行(借记卡)</td>
                </tr>
                <tr>
                    <td>JSB_CREDIT</td>
                    <td>江苏银行(信用卡)</td>
                </tr>
                <tr>
                    <td>NBCB_DEBIT</td>
                    <td>宁波银行(借记卡)</td>
                </tr>
                <tr>
                    <td>NBCB_CREDIT</td>
                    <td>宁波银行(信用卡)</td>
                </tr>
                <tr>
                    <td>NJCB_DEBIT</td>
                    <td>南京银行(借记卡)</td>
                </tr>
                <tr>
                    <td>JZB_DEBIT</td>
                    <td>晋中银行(借记卡)</td>
                </tr>
                <tr>
                    <td>KRCB_DEBIT</td>
                    <td>昆山农商(借记卡)</td>
                </tr>
                <tr>
                    <td>LJB_DEBIT</td>
                    <td>龙江银行(借记卡)</td>
                </tr>
                <tr>
                    <td>LNNX_DEBIT</td>
                    <td>辽宁农信(借记卡)</td>
                </tr>
                <tr>
                    <td>LZB_DEBIT</td>
                    <td>兰州银行(借记卡)</td>
                </tr>
                <tr>
                    <td>WRCB_DEBIT</td>
                    <td>无锡农商(借记卡)</td>
                </tr>
                <tr>
                    <td>ZYB_DEBIT</td>
                    <td>中原银行(借记卡)</td>
                </tr>
                <tr>
                    <td>ZJRCUB_DEBIT</td>
                    <td>浙江农信(借记卡)</td>
                </tr>
                <tr>
                    <td>WZB_DEBIT</td>
                    <td>温州银行(借记卡)</td>
                </tr>
                <tr>
                    <td>XAB_DEBIT</td>
                    <td>西安银行(借记卡)</td>
                </tr>
                <tr>
                    <td>JXNXB_DEBIT</td>
                    <td>江西农信(借记卡)</td>
                </tr>
                <tr>
                    <td>NCB_DEBIT</td>
                    <td>宁波通商银行(借记卡)</td>
                </tr>
                <tr>
                    <td>NYCCB_DEBIT</td>
                    <td>南阳村镇银行(借记卡)</td>
                </tr>
                <tr>
                    <td>NMGNX_DEBIT</td>
                    <td>内蒙古农信(借记卡)</td>
                </tr>
                <tr>
                    <td>SXXH_DEBIT</td>
                    <td>陕西信合(借记卡)</td>
                </tr>
                <tr>
                    <td>SRCB_CREDIT</td>
                    <td>上海农商银行(信用卡)</td>
                </tr>
                <tr>
                    <td>SJB_DEBIT</td>
                    <td>盛京银行(借记卡)</td>
                </tr>
                <tr>
                    <td>SDRCU_DEBIT</td>
                    <td>山东农信(借记卡)</td>
                </tr>
                <tr>
                    <td>SRCB_DEBIT</td>
                    <td>上海农商银行(借记卡)</td>
                </tr>
                <tr>
                    <td>SCNX_DEBIT</td>
                    <td>四川农信(借记卡)</td>
                </tr>
                <tr>
                    <td>QLB_DEBIT</td>
                    <td>齐鲁银行(借记卡)</td>
                </tr>
                <tr>
                    <td>QDCCB_DEBIT</td>
                    <td>青岛银行(借记卡)</td>
                </tr>
                <tr>
                    <td>PZHCCB_DEBIT</td>
                    <td>攀枝花银行(借记卡)</td>
                </tr>
                <tr>
                    <td>ZJTLCB_DEBIT</td>
                    <td>浙江泰隆银行(借记卡)</td>
                </tr>
                <tr>
                    <td>TJBHB_DEBIT</td>
                    <td>天津滨海农商行(借记卡)</td>
                </tr>
                <tr>
                    <td>WEB_DEBIT</td>
                    <td>微众银行(借记卡)</td>
                </tr>
                <tr>
                    <td>YNRCCB_DEBIT</td>
                    <td>云南农信(借记卡)</td>
                </tr>
                <tr>
                    <td>WFB_DEBIT</td>
                    <td>潍坊银行(借记卡)</td>
                </tr>
                <tr>
                    <td>WHRC_DEBIT</td>
                    <td>武汉农商行(借记卡)</td>
                </tr>
                <tr>
                    <td>ORDOSB_DEBIT</td>
                    <td>鄂尔多斯银行(借记卡)</td>
                </tr>
                <tr>
                    <td>XJRCCB_DEBIT</td>
                    <td>新疆农信银行(借记卡)</td>
                </tr>
                <tr>
                    <td>ORDOSB_CREDIT</td>
                    <td>鄂尔多斯银行(信用卡)</td>
                </tr>
                <tr>
                    <td>CSRCB_DEBIT</td>
                    <td>常熟农商银行(借记卡)</td>
                </tr>
                <tr>
                    <td>JSNX_DEBIT</td>
                    <td>江苏农商行(借记卡)</td>
                </tr>
                <tr>
                    <td>GRCB_CREDIT</td>
                    <td>广州农商银行(信用卡)</td>
                </tr>
                <tr>
                    <td>GLB_DEBIT</td>
                    <td>桂林银行(借记卡)</td>
                </tr>
                <tr>
                    <td>GDRCU_DEBIT</td>
                    <td>广东农信银行(借记卡)</td>
                </tr>
                <tr>
                    <td>GDHX_DEBIT</td>
                    <td>广东华兴银行(借记卡)</td>
                </tr>
                <tr>
                    <td>FJNX_DEBIT</td>
                    <td>福建农信银行(借记卡)</td>
                </tr>
                <tr>
                    <td>DYCCB_DEBIT</td>
                    <td>德阳银行(借记卡)</td>
                </tr>
                <tr>
                    <td>DRCB_DEBIT</td>
                    <td>东莞农商行(借记卡)</td>
                </tr>
                <tr>
                    <td>CZCB_DEBIT</td>
                    <td>稠州银行(借记卡)</td>
                </tr>
                <tr>
                    <td>CZB_DEBIT</td>
                    <td>浙商银行(借记卡)</td>
                </tr>
                <tr>
                    <td>CZB_CREDIT</td>
                    <td>浙商银行(信用卡)</td>
                </tr>
                <tr>
                    <td>GRCB_DEBIT</td>
                    <td>广州农商银行(借记卡)</td>
                </tr>
                <tr>
                    <td>CSCB_DEBIT</td>
                    <td>长沙银行(借记卡)</td>
                </tr>
                <tr>
                    <td>CQRCB_DEBIT</td>
                    <td>重庆农商银行(借记卡)</td>
                </tr>
                <tr>
                    <td>CBHB_DEBIT</td>
                    <td>渤海银行(借记卡)</td>
                </tr>
                <tr>
                    <td>BOIMCB_DEBIT</td>
                    <td>内蒙古银行(借记卡)</td>
                </tr>
                <tr>
                    <td>BOD_DEBIT</td>
                    <td>东莞银行(借记卡)</td>
                </tr>
                <tr>
                    <td>BOD_CREDIT</td>
                    <td>东莞银行(信用卡)</td>
                </tr>
                <tr>
                    <td>BOB_DEBIT</td>
                    <td>北京银行(借记卡)</td>
                </tr>
                <tr>
                    <td>BNC_DEBIT</td>
                    <td>江西银行(借记卡)</td>
                </tr>
                <tr>
                    <td>BJRCB_DEBIT</td>
                    <td>北京农商行(借记卡)</td>
                </tr>
                <tr>
                    <td>AE_CREDIT</td>
                    <td>AE(信用卡)</td>
                </tr>
                <tr>
                    <td>GYCB_CREDIT</td>
                    <td>贵阳银行(信用卡)</td>
                </tr>
                <tr>
                    <td>JSHB_DEBIT</td>
                    <td>晋商银行(借记卡)</td>
                </tr>
                <tr>
                    <td>JRCB_DEBIT</td>
                    <td>江阴农商行(借记卡)</td>
                </tr>
                <tr>
                    <td>JNRCB_DEBIT</td>
                    <td>江南农商(借记卡)</td>
                </tr>
                <tr>
                    <td>JLNX_DEBIT</td>
                    <td>吉林农信(借记卡)</td>
                </tr>
                <tr>
                    <td>JLB_DEBIT</td>
                    <td>吉林银行(借记卡)</td>
                </tr>
                <tr>
                    <td>JJCCB_DEBIT</td>
                    <td>九江银行(借记卡)</td>
                </tr>
                <tr>
                    <td>HXB_DEBIT</td>
                    <td>华夏银行(借记卡)</td>
                </tr>
                <tr>
                    <td>HXB_CREDIT</td>
                    <td>华夏银行(信用卡)</td>
                </tr>
                <tr>
                    <td>HUNNX_DEBIT</td>
                    <td>湖南农信(借记卡)</td>
                </tr>
                <tr>
                    <td>HSB_DEBIT</td>
                    <td>徽商银行(借记卡)</td>
                </tr>
                <tr>
                    <td>HSBC_DEBIT</td>
                    <td>恒生银行(借记卡)</td>
                </tr>
                <tr>
                    <td>HRXJB_DEBIT</td>
                    <td>华融湘江银行(借记卡)</td>
                </tr>
                <tr>
                    <td>HNNX_DEBIT</td>
                    <td>河南农信(借记卡)</td>
                </tr>
                <tr>
                    <td>HKBEA_DEBIT</td>
                    <td>东亚银行(借记卡)</td>
                </tr>
                <tr>
                    <td>HEBNX_DEBIT</td>
                    <td>河北农信(借记卡)</td>
                </tr>
                <tr>
                    <td>HBNX_DEBIT</td>
                    <td>湖北农信(借记卡)</td>
                </tr>
                <tr>
                    <td>HBNX_CREDIT</td>
                    <td>湖北农信(信用卡)</td>
                </tr>
                <tr>
                    <td>GYCB_DEBIT</td>
                    <td>贵阳银行(借记卡)</td>
                </tr>
                <tr>
                    <td>GSNX_DEBIT</td>
                    <td>甘肃农信(借记卡)</td>
                </tr>
                <tr>
                    <td>JCB_CREDIT</td>
                    <td>JCB(信用卡)</td>
                </tr>
                <tr>
                    <td>MASTERCARD_CREDIT</td>
                    <td>MASTERCARD(信用卡)</td>
                </tr>
                <tr>
                    <td>VISA_CREDIT</td>
                    <td>VISA(信用卡)</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="clear"></div>

