@{
    Layout = null;
}

<html>
<head>
    <title>PayNotifyUrl</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            @ViewData["payMessage"]
            @ViewData["message"]
        </div>
    </form>
</body>
</html>