@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>公众号JSSDK演示</title>
</head>
<body>
    <h1>公众号JSSDK演示</h1>
    <div>
        此页面是Senparc.Weixin.MP JSSDK的演示，可以点击右上方按钮，转发到朋友圈或者朋友进行测试。<br />
        顺利的话，转发的内容可以看到自定义的标题，配有一个自定义图片。
    </div>
    <script>
        wx.ready(function () {
            var url = 'http://weixin.senparc.com';
            var link = url + '@(Request.Url.PathAndQuery)';
            var imgUrl = url + '/images/v2/ewm_01.png';

            //转发到朋友圈
            wx.onMenuShareTimeline({
                title: 'Senparc.Weixin SDK JSSDK朋友圈转发测试',
                link: link,
                imgUrl: imgUrl,
                success: function () {
                    alert('转发成功！');
                },
                cancel: function () {
                    alert('转发失败！');
                }
            });
            //转发给朋友
            wx.onMenuShareAppMessage({
                title: 'Senparc.Weixin SDK JSSDK朋友转发测试',
                desc: title,
                link: link,
                imgUrl: imgUrl,
                type: 'link',
                dataUrl: '',
                success: function () {
                    alert('转发成功！');
                },
                cancel: function () {
                    alert('转发失败！');
                }
            });
        });
    </script>
</body>
</html>
