@*DPBMARK_FILE TenPay*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>微信支付测试跳转页</title>

</head>
<body>
    <div>
        <a href="@Url.Action("JsApi","TenPay")">jsapi支付</a>
    </div>
</body>
</html>