<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Enyim.Caching.Web" version="1.0.0.1" targetFramework="net45" />
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net45" />
  <package id="Membase" version="2.14" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="Senparc.CO2NET" version="0.2.6" targetFramework="net45" />
  <package id="Senparc.Weixin" version="5.1.7" targetFramework="net45" />
  <package id="Senparc.Weixin.MP" version="15.2.2" targetFramework="net45" />
</packages>