<Config>
  <!--盛派-->
  <!--
  <AppId>wxbe855a981c34aa3f</AppId>
  <Secret>2d65ad33a2e8d03c79ecd7b035522227</Secret>-->
  <!--小助手-->
  <AppId>wx669ef95216eef885</AppId>
  <Secret>c27e1cd2e6a5d697d767baaf5b91132f</Secret>
  <MchId></MchId>
  <TenPayKey></TenPayKey>
  <TenPayCertPath></TenPayCertPath>
  <!--强军梦-->
  <!--<AppId>wxc3c90837b0e76082</AppId>
  <Secret>3c0146011e06360fec0ef91f978285e8</Secret>-->
  <!--蜂蜜-->
  <!--<AppId>wx447d8048a251dbcf</AppId>
  <Secret>944fa4604dd865bcec4ef6a558e37538</Secret>-->
</Config>