@*DPBMARK_FILE TenPay*@

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>微信支付退款演示</title>
</head>
<body>
    <h2>@ViewData["Message"]</h2>

    <p>&nbsp;</p>
    <p>@Html.ActionLink("返回支付产品列表", "Index")</p>
</body>
</html>
