<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @if (!string.IsNullOrWhiteSpace(this.Context.Request.PathBase))
    {
        <base href="@this.Context.Request.PathBase" />
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - 微信公众号 Senparc.Weixin SDK</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    @*<link href="~/Content/danktooltip/css/darktooltip.min.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Senparc.Weixin.Sample.MP.styles.css" asp-append-version="true" />
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar_top" data-bs-offset="50" tabindex="0">
    <header>
        <nav id="navbar_top" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container">@*container-fluid*@
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Senparc.Weixin.MP 微信公众号模块</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">首页</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" href="https://sdk.weixin.senparc.com" target="_blank">在线 Sample</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://weixin.senparc.com/QA" target="_blank">问答社区</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 pt-5 mt-5">
            @RenderBody()
        </main>
    </div>
    @(await Html.PartialAsync("_FooterPartial"))
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
