@model Senparc.Weixin.MP.Helpers.JsSdkUiPackage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>设备对接能力测试（蓝牙）</title>
    <script>
                wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '@Model.AppId', // 必填，公众号的唯一标识
            timestamp: '@Model.Timestamp', // 必填，生成签名的时间戳
            nonceStr: '@Model.NonceStr', // 必填，生成签名的随机串
            signature: '@Model.Signature',// 必填，签名
            jsApiList: [
                    'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo',
                    'hideMenuItems',
                    'showMenuItems',
                    'hideAllNonBaseMenuItem',
                    'showAllNonBaseMenuItem',
                    'translateVoice',
                    'startRecord',
                    'stopRecord',
                    'onRecordEnd',
                    'playVoice',
                    'pauseVoice',
                    'stopVoice',
                    'uploadVoice',
                    'downloadVoice',
                    'chooseImage',
                    'previewImage',
                    'uploadImage',
                    'downloadImage',
                    'getNetworkType',
                    'openLocation',
                    'getLocation',
                    'hideOptionMenu',
                    'showOptionMenu',
                    'closeWindow',
                    'scanQRCode',
                    'chooseWXPay',
                    'openProductSpecificView',
                    'addCard',
                    'chooseCard',
                    'openCard'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2。详见：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
        });

        var connectedDeviceInfo;

        wx.ready(function () {

            wx.invoke('openWXDeviceLib', { 'connType': 'blue' }, function (res) {
                console.log('openWXDeviceLib', res);
                alert(res.err_msg);



                wx.invoke('getWXDeviceInfos', { 'connType': 'blue' }, function (res) {
                    console.log('getWXDeviceInfos', res);
                });

            });


            $('.deviceItem').click(function (deviceId) {

                wx.invoke('connectWXDevice', { 'deviceId': deviceId, 'connType': 'blue' }, function (res) {
                    console.log('connectWXDevice', res);
                });
            });

            $('#open').click(function () {

               
            })
        });

        function sendCommand(state)
        {
            var data;
            switch (state) {
                case 'open':
                    data = 'xxx1';
                    break;
                case 'close':
                    data = 'xxx2';
                    break;
                default:
            }
            alert(data);
            wx.invoke('sendDataToWXDevice', { 'deviceId': connectedDeviceInfo.deviceId, 'connType': 'blue', 'base64Data': data }, function (res) {
                console.log('sendDataToWXDevice', res);
                alert(res);
            });
        }
    </script>
</head>
<body>
    <div>list</div>
    <div>
      <button id="open" onclick="sendCommand('open')">开</button>
      <button id="close" onclick="sendCommand('close')">关</button>
    </div>
</body>
</html>
