# git ignore file

*.dll
*.xml
*.XML
*.pdb
*.[pdb]

Senparc.Weixin.pdb

Senparc.Weixin.QY.pdb

System.*

Microsoft.*

zh-Hans/

.net4.0/
net45
net461
netstandard1.6
chm
*.nupkg

netcoreapp2.0
netcoreapp2.1