<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		<section name="membase" type="Membase.Configuration.MembaseClientSection, Membase" />
	</configSections>
  <membase>
		<!-- 
			Please read the documentation first:
				http://github.com/enyim/EnyimMemcached/wiki/MembaseClient-configuration

			Use this section as a template if you're connecting to Membase Servers.
			Note: you must have the top-level membase section if you're using the parameterless constructor of MembaseClient.
		-->
		<servers bucket="enyim" bucketPassword="password" retryCount="2" retryTimeout="00:00:02">
			<!--
				Provide at least 2-3 urls from your cluster. 
				Usually you only need to change the host, except when connecting to older versions.
				Membase uses port 8091, while the NorthScale Memcached Server (1.0.3) uses 8080
			-->
			<add uri="http://192.168.2.202:8091/pools/default" />
			<add uri="http://192.168.2.200:8091/pools/default" />
		</servers>
		<!-- the client waits deadTmimeout time to reconnect to the pool when all the specified urls are down -->
		<socketPool connectionTimeout="00:00:10" deadTimeout="00:00:10" />
	</membase>
</configuration>