<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Enyim.Caching.Web" version="1.0.0.1" targetFramework="net45" />
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net45" />
  <package id="Membase" version="2.14" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
  <package id="Senparc.CO2NET" version="0.5.2" targetFramework="net45" />
  <package id="Senparc.CO2NET.Cache.Memcached" version="3.2.4" targetFramework="net45" />
</packages>