<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Enyim.Caching.Web" version="1.0.0.1" targetFramework="net45" />
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net45" />
  <package id="ManagedEsent" version="1.9.0.1" targetFramework="net45" />
  <package id="Membase" version="2.14" targetFramework="net45" />
  <package id="PersistentCache" version="0.6.0" targetFramework="net45" />
  <package id="ServiceStack" version="5.0.2" targetFramework="net45" />
  <package id="ServiceStack.Caching.Memcached" version="5.0.2" targetFramework="net45" />
  <package id="ServiceStack.Client" version="5.0.2" targetFramework="net45" />
  <package id="ServiceStack.Common" version="5.0.2" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="5.0.2" targetFramework="net45" />
  <package id="ServiceStack.Text" version="5.0.2" targetFramework="net45" />
</packages>