@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>跳转到公众号授权页</title>
</head>
<body>
    <h1>跳转到公众号授权页</h1>
    <div>
        @Html.ActionLink("点击这里进入公众号授权页", "OAuth", "Open")
    </div>
    <div>
        <p>
            注意：授权页必须由合法（已经审核通过）的域名进入。
            直接打开，或者在外部网站链接过来都可能被拒绝。
            因此测试的时候必须有这样一个Referer页面存在。
        </p>
    </div>
</body>
</html>
