@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>跳转到公众号授权页</title>
</head>
<body>
    <h1>跳转到公众号授权页</h1>
    <div>

        @Html.ActionLink("点击这里进入公众号授权页", "OAuth", "Open")

    </div>
</body>
</html>
