# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Senparc.Weixin.Work.net45.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\WeiXinMPSDK-Fork\src\Senparc.Weixin.Work\.idea\.idea.Senparc.Weixin.Work.net45\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
