<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- 微信公众号URL对接信息 -->
    <add key="WeixinToken" value="第三方URL对应的Token" />
    <add key="WeixinEncodingAESKey" value="第三方URL对应的消息加解密密钥" />
    <!-- 高级接口信息 -->
    <add key="WeixinAppId" value="微信AppId" />
    <add key="WeixinAppSecret" value="微信AppSecret" />
    <!-- SDK提供的代理功能设置 -->
    <add key="WeixinAgentUrl" value="外部代理Url" />
    <add key="WeixinAgentToken" value="外部代理Token" />
    <add key="WeixinAgentWeiweihiKey" value="外部代理WeiWeiHiKey" />
    <!-- 微信支付相关参数 -->
    <!-- 微信支付V2 -->
    <add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay" />
    <add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId" />
    <add key="WeixinPay_Key" value="WeixinPay_Key" />
    <add key="WeixinPay_AppId" value="WeixinPay_AppId" />
    <add key="WeixinPay_AppKey" value="WeixinPay_AppKey" />
    <add key="WeixinPay_TenpayNotify" value="WeixinPay_TenpayNotify" />
    <!-- 微信支付V3 -->
    <add key="TenPayV3_MchId" value="TenPayV3_MchId" />
    <add key="TenPayV3_Key" value="TenPayV3_Key" />
    <add key="TenPayV3_AppId" value="TenPayV3_AppId" />
    <add key="TenPayV3_AppSecret" value="TenPayV3_AppSecret" />
    <add key="TenPayV3_TenpayNotify" value="TenPayV3_TenpayNotify" />
    <!-- 开放平台 -->
    <add key="Component_Appid" value="Component_Appid" />
    <add key="Component_Secret" value="Component_Secret" />
    <add key="Component_Token" value="Component_Token" />
    <add key="Component_EncodingAESKey" value="Component_EncodingAESKey" />
    <!-- 企业号 -->
    <add key="WeixinCorpId" value="WeixinCorpId" />
    <add key="WeixinCorpSecret" value="WeixinCorpSecret" />

    <!-- 小程序 -->
    <!-- 小程序消息URL对接信息 -->
    <add key="WxOpenToken" value="小程序消息URL对应的Token" />
    <add key="WxOpenEncodingAESKey" value="小程序消息URL对应的消息加解密密钥" />
    <!-- 小程序秘钥信息 -->
    <add key="WxOpenAppId" value="微信小程序AppId" />
    <add key="WxOpenAppSecret" value="微信小程序AppSecret" />

    <!-- Cache.Redis连接配置 -->
    <add key="Cache_Redis_Configuration" value="Redis配置" />
    <!--<add key="Cache_Redis_Configuration" value="localhost:6379"/>-->

  </appSettings>

</configuration>