@{
    ViewBag.Title = "Senparc.Weixin.MP - 微信公众平台SDK";
}
<section class="content-wrapper main-content clear-fix">

    <h3>关注官方公众平台微信，进行互动测试：</h3>
    <p>
        <img src="/Images/qrcode.jpg" width="259" />
    </p>
    <p>
        目前Senparc.Weixin.MP已支持微信5.0 API中所有接口（包括自定义菜单）。<a href="http://mp.weixin.qq.com/wiki/index.php?title=%E6%B6%88%E6%81%AF%E6%8E%A5%E5%8F%A3%E6%8C%87%E5%8D%97" target="_blank">查看官方API</a>
    </p>
    <ol class="round">
        <li class="one">
            <h5>文本测试</h5>
            随意输入文本信息，系统将自动回复一条包含原文的文本信息。<br />
            如果连续发送多条信息，系统会自动记录通讯上的下文，直到超过规定时间，记录自动清空。
        </li>

        <li class="two">
            <h5>位置测试</h5>
            发送一条位置信息，系统将自动回复详细的位置信息图片数据及一条图文链接。
        </li>
        <li class="three">
            <h5>图片测试</h5>
            发送一张图片，系统将自动回复一条带链接的图文信息。
        </li>
        <li class="four">
            <h5>语音测试</h5>
            发送一条语音信息，系统将自动回复一条音乐格式信息。
        </li>
        <li class="five">
            <h5>订阅测试</h5>
            订阅（关注）账号的第一时间，系统将发送一条欢迎信息（等同于之前的Hello2BizUser）。
        </li>
        <li class="six">
            <h5>客户端约束测试</h5>
            发送文字信息【约束】，进行测试。
        </li>
        <li class="seven">
            <h5>自定义菜单测试</h5>
            点击自定菜单进行测试。
        </li>
        <li class="eight">
            <h5>代理+托管测试</h5>
            <ol>
                <li>发送文字信息【代理】或【托管】，或点击菜单【代理消息】&gt;【返回图文】，服务器将从其他微信平台获取“代理”或“托管”文字请求的结果。
                </li>
                <li>点击菜单【代理消息】&gt;【会员信息】，查看自己的会员信息（来自另外一台Souidea服务器的微信会员系统）
                </li>
            </ol>
        </li>
    </ol>
</section>
<section class="content-wrapper clear-fix" id="souidea">
    <h3>关注Souidea公众平台微信，测试Senparc.Weixin.MP.P2P：</h3>
    <p>
        <img src="/Images/qrcode_for_souidea.jpg" width="259" />
    </p>
    <p>
        Souidea是用于全面测试<a href="https://github.com/JeffreySu/WeiXinMPSDK/tree/master/Senparc.Weixin.MP.P2P" target="_blank">Senparc.Weixin.MP和Senparc.Weixin.MP.P2P</a>的第一代机器人，由任务驱动，异步反馈。<br />
        已经对接到微信公众账号。<br />

        主要特点：1、异步任务驱动（异步推送信息） 2、微信公众账号身份信息识别 3、企业级并发任务处理（欢迎疯狂蹂躏）。可以发送IP、文字进行测试。<br />
        <br />
        可以发送如下内容进行测试（由于异步任务驱动，可以不必等待回复，连续发送内容，查看对应任务处理情况）：
    </p>
    <ol class="round">
        <li class="one">
            <h5>IPv4地址</h5>
            对ip进行ping并异步返回结果。
        </li>

        <li class="two">
            <h5>其他文字</h5>
            对文字进行搜索并返回推荐结果。
        </li>
        <li class="three">
            <h5>图片信息</h5>
            搜索图片相关信息（开发中）。
        </li>
        <li class="four">
            <h5>语音搜索</h5>
            语音搜索关键字（开发中）。
        </li>
    </ol>
</section>
