<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Senparc.Weixin.MP - 微信公众平台SDK</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>欢迎使用 微信公众平台SDK（C#，Senparc.Weixin.MP.dll）!</h1>
            </hgroup>
            <p>
                使用 Senparc.Weixin.MP.dll 整合网站与微信公众账号的用户自动交流回复。
            </p>
            <p>
                更多使用说明见：<a href="http://www.cnblogs.com/szw/archive/2013/01/13/senparc-weixin-mp-sdk.html" target="_blank">Senparc.Weixin.MP-微信公众平台SDK（C#）</a><br />
                源代码及示例下载：<a href="https://github.com/JeffreySu/WeiXinMPSDK" target="_blank">https://github.com/JeffreySu/WeiXinMPSDK</a><br />
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>关注官方公众平台微信，进行互动测试：</h3>
        <p>
            <img src="/Images/qrcode.jpg" />
        </p>
        <ol class="round">
            <li class="one">
                <h5>文本测试</h5>
                随意输入文本信息，系统将自动回复一条包含原文的文本信息。
            </li>

            <li class="two">
                <h5>位置测试</h5>
                发送一条位置信息，系统将自动回复详细的位置信息图片数据及一条图文链接。
            </li>
            <li class="three">
                <h5>图片测试</h5>
                发送一张图片，系统将自动回复一条带链接的图文信息。
            </li>
            <li class="four">
                <h5>语音测试</h5>
                发送一条语音信息，系统将自动回复一条该语音的音乐格式信息。
            </li>
        </ol>
    </section>
</div>
